body {
    /* background: linear-gradient(rgba(95, 114, 189,0.8), rgba(155,35,234,0.7));
    background-size: cover;
    background-position: center; */
     /* For browsers that do not support gradients */
    background-image: linear-gradient(rgba(95, 114, 189,0.8), rgba(155,35,234,0.7));
    color: #fff;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Handlee', cursive;
}

h6{
    color: black;
}

header{
    height: 10%;
}
h1{
    font-size: 16px;
}

section{
    height: 80%;
}

.card-deck, .card{
    height: 1%;
}

.card-body{
    height: 1%;
}

.view{
    height: 1%;
}

img{
    height: 150px;
}

.text-description {
    letter-spacing: 2px;  
}

.form-control {
    background: transparent !important;
    color: rgb(255, 255, 255) !important;
}

a .fab {
    color: #ffc;
    font-size: 30px;
    margin: 0 10px;
}

footer {
    margin-top: 10%;
    height: 10%;
    width: 100%;
    color: white;
    text-align: center;
  }